.active {
  border-bottom: 2px solid rgb(35, 137, 255);
}
.light-line {
    border-top: 1px solid #ccc; 
    width: 100%;
    margin: 0;
}
.nav-item {
cursor: pointer;
white-space: nowrap;
  }
  .image{
    height: 20px; 
    width: 20px;

  }
  .text-size {
    font-size: 11px;
    color:#a3a5a7;
}
.text-left {
    text-align: left;
}
.custom-img {
  height: 20px;
  width: 20px;
  margin-bottom: 10px;
  cursor: pointer;
}
thead th {
  top: 0;
}

table th {
  font-size: 12px;
}
.table  tr {
  border-bottom: 1px solid #ececec;
  padding:15px;
}
.table td,
.table th {
  border: none;
}
.no-wrap {
  white-space: nowrap;
}
.sticky-header {
  position: fixed;
  background-color: rgb(254, 252, 252);
  width:25%;
  z-index:5;
  padding-top: 5px;
}
.customer-table{
  width: 25%;
  max-height: 100%;
  transition: width 0.3s ease-in-out;
  overflow-y: auto;
  padding-top: 0px;
  position:fixed;
}
.plus-sign {
  float: right;
  font-size: 10px;
}
.image{
  height:20px;
  width:20px
 }
 .padding-top{
  padding-top: 95px;
 }
 