@media (min-width: 992px) {

  .navbar,
  .navbar-collapse {
    flex-direction: column;
  }
  img:hover{
  cursor:pointer;
}
  .navbar-expand-lg .navbar-nav {
    flex-direction: column;
  }
a{
  font-size: 13px;
  padding-bottom: 4px;
}
  .navbar {
    align-items: flex-start;
    position: fixed;
    transition: width 0.3s ease-in-out;
  }

  .navbar-brand {
    margin-left: 0.5em;
    padding-bottom: 0;
    border-bottom: 4px solid #464646;
  }

  form input {
    margin-bottom: 0.7em;
  }
   .nav-item:hover img{
    filter: invert(55%) sepia(27%) saturate(1710%) hue-rotate(171deg) brightness(96%) contrast(93%);
  }
  .active{
    filter: invert(55%) sepia(27%) saturate(1710%) hue-rotate(171deg) brightness(96%) contrast(93%);
  }
  .nav-link {
    cursor: pointer;
  }
  .routerLinkActive {
    color: red; 
  }
  .navbar {
    transition: all 0.3s ease-in-out;
  }
  
  .company-image{
    height:15px;
    width:15px;
    color: transparent;
  }
  .dashboard-image{
    height: 15px;
     width: 15px;
  }
  .box-image, .logout{
    height: 20px; 
    width: 20px;
  }
  .customer-image , .subscription-image, .payment-image, .user-image, .invoice-image, .tax-image, .menu{
    height: 20px; width: 20px;
    color: transparent;
  }
  .menu{
margin-left: 0%;
  }
  .nav-images {
    display: flex;
    align-items: center;
    top:0;
    position: fixed;
    width: 83%; 
    background-color: white; 
    z-index: 10; 
}

  .images{
    display: flex;  align-items: center; margin-left: auto;
  }
  .nav-image{
    height: 30px; width: 30px; margin-right: 10px;
  }

.bs-side-navbar .navbar-nav .nav-link {
  display: none;
}

.bs-side-navbar.collapsed .navbar-nav .nav-link {
  display: block;
}

.bs-side-navbar:not(.collapsed) .navbar-nav .nav-link {
  display: block;
}

.bs-side-navbar:not(.collapsed) {
  width: 200px; 
}
.hide-content {
  visibility: hidden;
}

.expanded {
  flex: 0 0 200px;
}
.shrink {
  width: 50px;
  height: auto; 
}

.dropdown-item, .menu {
  cursor: pointer;
}
.active, .active-icon {
  color:var(--primary) !important;
}
.active:hover {
  color:var(--primary) !important;
}
.navbar-box {
  border-right: 1px solid #cccccc5f;
  border-radius: 5px; 
  padding: 5px;
}
.border-bottom {
  border-bottom: 1px solid #cccccc5f;
  padding :5px
}
.dropdown-item:focus,
.dropdown-item:hover {
  background-color: #0d6efd;
}
span{
  color: rgb(37, 37, 37);
}
.expanded {
  width: calc(100% - [width to subtract for expanded navbar]);
}

.small-border {
width:5% !important;
}
}
.full-width{
  max-width: 100%;
  padding-left: 195px;}
  /* "{'col-lg-10': !isNavbarCollapsed, 'full-width': isNavbarCollapsed}"

  .full-width{
    max-width: 100%;
    padding-left: 195px;} */