.required:after {
    content: " *";
    color:red;
}
thead th {
    background-color:#FAFAFA;
  }
.table th {
  border: none;
}
.table  tr {
  border-bottom: 1px solid #ececec; 
  padding:15px !important;
}
.search-icon {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  color: #aaa;
  pointer-events: none; 
}
.form-control {
  padding-left: 30px;
}
.dropdown-toggle {
  border: none !important;
  background-color: transparent !important;
}

.dropdown-icon {
  cursor: pointer;
}

.dropdown-toggle .fas {
  display: none;
}
.image{
  height: 20px;
  width:20px;
}
.pagination {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
.pagination button {
  padding: 5px 10px;
  margin: 0 5px;
  cursor: pointer;
}

.pagination button.active {
  background-color: #007bff;
  color: #fff;
}

