.custom-img {
    height: 20px;
    width: 20px;
    margin-bottom: 10px;
    cursor: pointer;
  }
  .sticky-header {
    position: fixed;
    background-color: rgb(254, 252, 252);
    width:25%;
    z-index:5;
    padding-top: 5px;
  }
  
  .plus-sign {
    float: right;
    font-size: 10px;
  }
  .image{
    height:20px;
    width:20px
   }
   .padding-top{
    padding-top: 70px;
   }
   .invoice-table{
    width: 25%;
    max-height: 100%;
    transition: width 0.3s ease-in-out;
    overflow-y: auto;
    padding-top: 0px;
    position:fixed;
  }
  thead th {
    top: 0;
    background-color: #FAFAFA;
  }
  table th {
    font-size: 12px;
  }
  .no-wrap {
    white-space: nowrap;
  }
  
  .table td,
  .table th {
    border: none;
  }
  .table  tr {
    border-bottom: 1px solid #ececec; 
    padding:15px !important;
  }
  .background-color
  { background-color:#f6f6f6;} 
  .no-background-color{
    background-color: white;
    box-shadow: 0px -4px 8px 0px rgba(0, 0, 0, 0.1);
  }
  .dropdown-item:hover{
    color: rgb(35, 137, 255);
 }
 .dropdown-item{
   padding-top: 0rem;
   padding-bottom: 0rem;
   background-color: white;
 }