<div class="row mt-4">
  <div class="container mt-4">
    <div class="row align-items-center justify-content-end p-o">
       <div class="col-auto mr-auto mt-2 ">
            <div class="form-group-0">
                <h2><b>Admin User List</b></h2>
            </div>
        </div>
        <div class="col-auto px-1">
            <div class="form-group mr-0">
                <button type="button" class="btn button mr-1" routerLink="/admin/user-register">
                    + Add new
                </button>
            </div>
        </div>
    </div>
</div>
  </div>
  <table class="table table-responsive mb-3 ">
    <thead class="sticky-header">
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col"> Role</th>
        <th scope="col">Company</th>
        <th scope="col">Phone</th>
        <th scope="col">Address</th>
        <th scope="col">Last Login IP</th>
        <th scope="col">Status</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let post of user['items']">
        <td>{{post.name}}</td>
        <td>{{post.email}}</td>
        <td>{{post.user_type}}</td>
        <td>{{post.company}}</td>
        <td>{{post.phone}}</td>
        <td>{{post.address}}</td>
        <td>{{post.last_login_ip}}</td>
        <td  [ngClass]="{'text-success': post.is_active, 'text-danger': !post.is_active}"
        class="badge bg-light fw-bold">{{post.text}}</td>
        <td>
          <div class="dropdown">
            <a href="#"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <img src="assets/images/dot.png" alt="Dashboard Image" class="image" >
            </a>
            <div class="dropdown-menu dropdown-menu-right">
              <a href="#" [routerLink]="['/admin/user/',post.id, 'update']"class="dropdown-item mb-1">Edit</a>
            </div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
  <nav aria-label="Page navigation example mt-5">
    <ul class="pagination justify-content-center">
      <li class="page-item" ></li>
      <li class="page-item" (click)="loadPreviousPage()">
        <a class="page-link" [class.active]="currentPage === 1">Previous</a>
      </li>
      <ng-container *ngFor="let page of getPageNumbers()">
        <li class="page-item">
          <a class="page-link" (click)="loadPage(page)" [class.active]="currentPage === page">{{ page }}</a>
        </li>
      </ng-container>
      <li class="page-item" (click)="loadNextPage()">
        <a class="page-link" [ngClass]="{'active': currentPage >4 }">Next</a>
      </li>
    </ul>
  </nav>

      <ng-container *ngIf="loading">
        <div class="text-center">
            <div class="spinner-border" role="status">
              <span class="sr-only">Loading...</span>
            </div>
            </div>
    </ng-container>
