<!---serch buttons-->
<div class="row mt-4 ml-2">
  <div class="container mt-4 ">
    <div class="row align-items-center justify-content-end p-0">
      <div class="col-auto mr-auto">
        <div class="form-group-0">
          <h2><b>Customers</b></h2>
        </div>
      </div>
      <div class="col-auto px-1">
        <div class="form-group mr-0">
          <div style="position: relative;">
            <input id="search" (keyup)="searchData($event)" class="form-control" type="text" name="search"
              aria-label="Select an option" placeholder="Search..">
            <i class="fas fa-search search-icon"></i>
          </div>
        </div>
      </div>
      <div class="col-auto px-1">
        <div class="form-group mr-0">
          <select (change)="filterData($event)" name="selectElement" id="selectElement" class="form-control"
            aria-label="Select an option">
            <option>Filter</option>
            <option value="all">All</option>
            <option value="inactive">Inactive</option>
            <option value="active">Active</option>
            <option value="bankauto_veritrans">Bank Auto veritrans</option>
            <option value="smartpit">Smart pit</option>
            <option value="bankauto_telecom">Bank Auto Telecom</option>
            <option value="credit_card">Credit Card</option>
          </select>
        </div>
      </div>
      <div class="col-auto px-1">
        <div class="form-group mr-0">
          <button type="button" [routerLink]="['/admin/customer-register']" class="btn button">
            + Add new
          </button>
        </div>
      </div>
    </div>
  </div>
  <ng-container *ngIf="customers.items.length" >
    <table class="table mb-4" *ngIf="!loading && customers.items.length">
      <thead>
        <tr>
          <th scope="col" (click)="toggleSortOrder('customer_number')" class="sortable-header">Customer No.</th>
          <th scope="col" (click)="toggleSortOrder('first_name')" class="sortable-header">Name</th>
          <th scope="col" (click)="toggleSortOrder('email')" class="sortable-header pl-4px">Email</th>
          <th scope="col" (click)="toggleSortOrder('phone')" class="sortable-header">Phone</th>
          <th scope="col" class="sortable-header text-nowrap">Due Total</th>
          <th scope="col" (click)="toggleSortOrder('excess_credit')" class="sortable-header text-nowrap">Excess Credit</th>
          <th scope="col" (click)="toggleSortOrder('is_active')" class="sortable-header">Status</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let post of customers.items" >
          <td class="no-wrap">{{post.customer_number}}</td>
          <td>{{ truncateText(post.first_name) }}</td>
          <td>{{post.email}}</td>
          <td>{{post.phone}}</td>
          <td>
            <span>¥ {{post.total_due_amount}}</span>
          </td>
          <td>¥ {{post.excess_credit}}</td>
          <td><span [ngClass]="{'text-success': post.is_active, 'text-danger': !post.is_active}"
              class="badge bg-light fw-bold">{{post.text}}
            </span></td>
          <td>
            <div class="dropdown dropleft">
              <a href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <img src="assets/images/dot.png" alt="Dashboard Image" class="image">
              </a>
              <div class="dropdown-menu">
                <a [routerLink]="['/admin/customer', post.id]" class="dropdown-item">Show</a>
                <a [routerLink]="['/admin/customer', post.id, 'update']" class="dropdown-item">Edit</a>
              </div>
            </div>
          </td>


        </tr>
      </tbody>
    </table>
    
  </ng-container>
    <ng-container *ngIf="loading">
      <div class="text-center">
          <div class="spinner-border" role="status">
            <span class="sr-only">Loading...</span>
          </div>
          </div>
  </ng-container>


    <!-- Pagination and bootstrap -->
<nav aria-label="Page navigation example mt-5">
  <ul class="pagination justify-content-center">
    <li class="page-item" (click)="loadPreviousPage()">
      <a class="page-link" [class.active]="currentPage === 1">Previous</a>
    </li>
    <ng-container *ngFor="let page of getPageNumbers()">
      <li class="page-item">
        <a class="page-link" (click)="loadPage(page)" [class.active]="currentPage === page">{{ page }}</a>
      </li>
    </ng-container>
    <li class="page-item" (click)="loadNextPage()">
      <a class="page-link" [ngClass]="{'active': currentPage >5 }">Next</a>
    </li>
  </ul>
</nav>
</div>